<style>
            body {
                background-color: #ef7f01;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 24px;
            }
            ul#Navigation li {
                  display:inline;
                }
            h1{
                color: #4caf50
            }
            p{
                font-size: 20px;
            }
            p#jung{
                color: #004cad;
                display:inline;
                }
            p#motiviert{
                color: #e60102;
                display:inline;
                }
            p#analytisch{
                color: #58c900;
                display:inline;
                }
            p#team{
                color: #aa47fe;
                display:inline;
                }

        </style>